.div {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.onBtnActive {
    margin: 10px;
    background-color: limegreen;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.onBtnNotActive {
    margin: 10px;
    background-color: beige;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.offBtnActive {
    margin: 10px;
    background-color: crimson;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.offBtnNotActive {
    margin: 10px;
    background-color: beige;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.onIndicatorActive {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: limegreen;
}
.offIndicator {
    margin-left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: crimson;
}